.button {
    width: 40px;
    height: 40px;
    fill: rgba(79, 95, 118, 1.0);
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    fill: rgba(234, 97, 25, 1.0);
    transform: scale(1.2);    
}

.big {
    width: 60px;
    height: 60px;
    fill: rgba(79, 95, 118, 1.0);
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
}

.big:hover {
    fill: rgba(234, 97, 25, 1.0);
    transform: scale(1.2);    
}