.button {
    width: calc(20px + 40 * (100vw - 320px) / 1920);
    height: calc(20px + 40 * (100vw - 320px) / 1920);
    fill: rgba(79, 95, 118, 1.0);
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    fill: rgba(234, 97, 25, 1.0);
    transform: scale(1.2);    
}

.big {
    width: calc(30px + 60 * (100vw - 320px) / 1920);
    height: calc(30px + 60 * (100vw - 320px) / 1920);
    fill: rgba(79, 95, 118, 1.0);
    transition: all 0.3s ease 0s;
    margin-bottom: calc(7px + 20 * (100vw - 320px) / 1920);
    transition: all 0.3s ease 0s;
}

.big:hover {
    fill: rgba(234, 97, 25, 1.0);
    transform: scale(1.2);    
}