.button {
    padding: calc(3px + 10 * (100vw - 320px) / 1920);
    background-color: transparent;
    color: rgba(234, 97, 25, 1.0);
    font-size: calc(8px + 16 * (100vw - 320px) / 1920);
    text-transform: uppercase;   
    white-space: nowrap;
    flex: 0 0 100%;
    transition: all 0.1s ease 0s;
    width: 100%;
}

.button:hover {
    background-color: rgba(234, 97, 25, 1.0);
    color: white;
    font-weight: 700;    
}

.active {
    padding: calc(3px + 10 * (100vw - 320px) / 1920);
    background-color: rgba(234, 97, 25, 1.0);
    color: white;
    font-weight: 700;
    font-size: calc(8px + 16 * (100vw - 320px) / 1920);
    text-transform: uppercase;   
    flex: 0 0 100%;   
    width: 100%;
    box-shadow: 0 0 10px rgba(44, 62, 84, 0.6);
}