.wrapper {
    display: flex;
    max-width: 100%;
    margin: calc(7px + 20 * (100vw - 320px) / 1920) 
            calc(14px + 40 * (100vw - 320px) / 1920);    
    align-items: center;
    justify-content: space-between;
    padding: calc(3px + 10 * (100vw - 320px) / 1920);
    border-radius: calc(7px + 20 * (100vw - 320px) / 1920);
    box-shadow: 0 0 10px rgba(79, 95, 118, 0.4);
    font-size: calc(7px + 18 * (100vw - 320px) / 1920);
    transition: all 0.5s ease 0s;
}

.wrapper:hover {
    box-shadow: 0 0 10px rgba(79, 95, 118, 0.8);
}

.image {
    flex: 0 1 35%;
    display: flex;
    justify-content: center;
}

.image img {
    height: calc(30px + 80 * (100vw - 320px) / 1920);
}

.title {
    flex: 0 1 25%;
}

.price {
    flex: 0 1 20%;
}

.button_wrapper {
    flex: 0 1 10%;
}


.delete_icon {
    width: calc(10px + 30 * (100vw - 320px) / 1920);
    height: calc(10px + 30 * (100vw - 320px) / 1920);
    fill: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    cursor: pointer;    
}

.delete_icon:hover {
    transform: scale(1.2);
    fill: rgba(234, 97, 25, 1.0);
}