.loader {
    display: inline-block;    
    width: calc(40px + 80 * (100vw - 320px) / 1920);
    height: calc(40px + 80 * (100vw - 320px) / 1920);
    margin-top: calc(10px + 30 * (100vw - 320px) / 1920);
  }
  .loader:after {
    content: " ";
    display: block;    
    width: calc(32px + 64 * (100vw - 320px) / 1920);
    height: calc(32px + 64 * (100vw - 320px) / 1920);
    margin: calc(4px + 8 * (100vw - 320px) / 1920);
    border-radius: 50%;
    border: calc(2px + 4 * (100vw - 320px) / 1920) solid rgba(234, 97, 25, 1.0);
    border-color: rgba(234, 97, 25, 1.0) transparent rgba(234, 97, 25, 1.0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}