.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden; 
    opacity: 0;   
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease 0s;
}

.myModalContent {    
    padding: calc(8px + 25 * (100vw - 320px) / 1920);
    background: white;    
    border-radius: calc(6px + 16 * (100vw - 320px) / 1920);    
    min-width: calc(120px + 250 * (100vw - 320px) / 1920);
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;    
    visibility: visible;
    opacity: 1;
}

.myModal.active .myModalContent {
    opacity: 1; 
}

.content {    
    font-size: calc(10px + 24 * (100vw - 320px) / 1920);
    text-align: center;
    line-height: 200%;
}

.title {
    font-size: calc(12px + 28 * (100vw - 320px) / 1920);
    font-weight: bold;
    margin-bottom: calc(3px + 10 * (100vw - 320px) / 1920);
}

.signature {
    margin-top: calc(7px + 20 * (100vw - 320px) / 1920);
}