.button {
    margin: 10px;
    background-color: transparent;
    color: rgba(234, 97, 25, 1.0);
    font-size: 18px;
    text-transform: uppercase;    
}



.button:hover {
    text-decoration: underline;
}