.wrapper {
    margin: 30px;
    display: flex;    
    justify-content: center;    
    font-size: 18px;
}

  .page {
    padding: 10px;    
    cursor: pointer;
    color: rgba(44, 62, 84, 1.0);
  }
  
  .page__current {
    padding: 10px;    
    font-weight: bold;    
    color: rgba(234, 97, 25, 1.0);
  }