.product {
    flex: 1 1 auto;    
    max-width: calc(55px + 370 * (100vw - 320px) / 1920);
    margin-top: calc(10px + 30 * (100vw - 320px) / 1920);
    box-shadow: 0 0 10px rgba(79, 95, 118, 0.4);
    border-radius: calc(3px + 10 * (100vw - 320px) / 1920);    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.5s ease 0s;    
    color: rgba(44, 62, 84, 1.0);
    text-align: center;        
}

.img_wrapper {    
    height: calc(45px + 330 * (100vw - 320px) / 1920);
    width: calc(45px + 330 * (100vw - 320px) / 1920);
    margin-top: calc(5px + 20 * (100vw - 320px) / 1920);      
    overflow: hidden; 
}

.img {
    max-width: calc(45px + 330 * (100vw - 320px) / 1920);  
    max-height: calc(45px + 330 * (100vw - 320px) / 1920);  
    transition: all 0.5s ease 0s;    
}

.title {    
    font-size: calc(7px + 18 * (100vw - 320px) / 1920);
    color: rgba(234, 97, 25, 1.0);
    margin: calc(3px + 10 * (100vw - 320px) / 1920);
}

.rating {
    font-size: calc(7px + 18 * (100vw - 320px) / 1920);
    margin-bottom: calc(3px + 10 * (100vw - 320px) / 1920);
}

.rating span {
    font-weight: bold;
    color: rgba(234, 97, 25, 1.0);
}

.price {
    font-size: calc(7px + 18 * (100vw - 320px) / 1920);
    margin-bottom: calc(6px + 20 * (100vw - 320px) / 1920);
    font-weight: bold;
}

.product:hover .img{
    transform: scale(1.05);    
}

.product:hover {
    box-shadow: 0 0 10px rgba(79, 95, 118, 0.8);
    cursor: pointer;
}


@media (max-width: 767px) {
    .product {
        max-width: calc(110px + 740 * (100vw - 320px) / 1920);
        margin-top: calc(10px + 60 * (100vw - 320px) / 1920);
    }
    .img_wrapper {    
        height: calc(100px + 660 * (100vw - 320px) / 1920);
        width: calc(100px + 660 * (100vw - 320px) / 1920);
        margin-top: calc(5px + 40 * (100vw - 320px) / 1920);  
    }
    .img {
        max-width: calc(100px + 660 * (100vw - 320px) / 1920);  
        max-height: calc(100px + 660 * (100vw - 320px) / 1920); 
    }
    .title {    
        font-size: calc(10px + 36 * (100vw - 320px) / 1920);
        margin: calc(3px + 20 * (100vw - 320px) / 1920);
    }
    .rating {
        font-size: calc(10px + 36 * (100vw - 320px) / 1920);
        margin-bottom: calc(3px + 20 * (100vw - 320px) / 1920);
    }
    .price {
        font-size: calc(10px + 36 * (100vw - 320px) / 1920);
        margin-bottom: calc(6px + 40 * (100vw - 320px) / 1920);
    }
}

@media (max-width: 550px) {
    .product {
        max-width: calc(210px + 1480 * (100vw - 320px) / 1920);
        margin-top: calc(18px + 120 * (100vw - 320px) / 1920);
    }
    .img_wrapper {    
        height: calc(190px + 1320 * (100vw - 320px) / 1920);
        width: calc(190px + 1320 * (100vw - 320px) / 1920);
        margin-top: calc(9px + 80 * (100vw - 320px) / 1920);  
    }
    .img {
        max-width: calc(190px + 1320 * (100vw - 320px) / 1920);  
        max-height: calc(190px + 1320 * (100vw - 320px) / 1920); 
    }
    .title {    
        font-size: calc(12px + 72 * (100vw - 320px) / 1920);
        margin: calc(5px + 40 * (100vw - 320px) / 1920);
    }
    .rating {
        font-size: calc(12px + 72 * (100vw - 320px) / 1920);
        margin-bottom: calc(5px + 40 * (100vw - 320px) / 1920);
    }
    .price {
        font-size: calc(12px + 72 * (100vw - 320px) / 1920);
        margin-bottom: calc(10px + 80 * (100vw - 320px) / 1920);
    }
}