.page_title {
    font-size: calc(12px + 30 * (100vw - 320px) / 1920);
    font-weight: bold;
    text-align: center;
    margin-top: calc(10px + 30 * (100vw - 320px) / 1920);
}

.title {
    font-size: calc(12px + 30 * (100vw - 320px) / 1920);
    font-weight: bold;
    text-align: center;   
    margin: calc(15px + 50 * (100vw - 320px) / 1920);
}

.subtitle {
    font-size: calc(12px + 30 * (100vw - 320px) / 1920);
    font-weight: bold;
    text-align: center;     
}

.link {
    color: rgba(234, 97, 25, 1.0);
}

.wrapper {
    display: flex;
    padding-bottom: calc(15px + 40 * (100vw - 320px) / 1920);
    padding-top: calc(8px + 20 * (100vw - 320px) / 1920);
}

.products {
    flex: 1 1 70%;
}

.order {
    flex: 1 1 30%;
}