
.title {    
    font-size: calc(12px + 20 * (100vw - 320px) / 1920);
    font-weight: bold;
    width: 100%;
    text-align: center;    
    margin-top: calc(10px + 30 * (100vw - 320px) / 1920);
}

