.footer {
    background-color: rgba(44, 62, 84, 1.0);
    width: 100%;    
    height: calc(40px + 100 * (100vw - 320px) / 1920);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.signature {
    color: white;    
    font-size: calc(7px + 16 * (100vw - 320px) / 1920);
}