.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    border-bottom: 2px solid rgba(79, 95, 118, 1.0);
}

.buttons {      
    height: 100%;
    display: flex;
    align-items: flex-end;    
}

.logo_wrapper {
    display: flex;    
    align-items: center;
}

.logo_wrapper:hover .logo{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(44, 62, 84, 0.4);
}

.logo {
    background: url('../images/logo.png') no-repeat center / cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;   
    margin-left: 20px;
    transition: all 0.5s ease 0s;
}

.logo_title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 7px;
    margin-left: 15px;
    color: rgba(44, 62, 84, 1.0);
}

.logo_title span {
    color: rgba(234, 97, 25, 1.0);
}

.svg_wrapper {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 25px 25px 0;
}

.svg {
    width: 50px;
    height: 50px;
    fill: rgba(44, 62, 84, 0.6);
    transition: all 0.3s ease 0s;    
}

.svg:hover {
    fill: rgba(44, 62, 84, 1.0); 
}

.svg_active {    
    width: 50px;
    height: 50px;
    fill: rgba(44, 62, 84, 1.0);
    transition: all 0.3s ease 0s;     
}

.svg_active:hover {
    fill: rgba(234, 97, 25, 1.0);
}

.number_wrapper {
    color: white;
    background-color: rgba(234, 97, 25, 1.0);
    width: 25px;
    height: 25px;    
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 25px;
    left: 14px;
    box-shadow: 0 0 5px rgba(44, 62, 84, 0.8);
}

.none {
    display: none;
}

.number {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3px;
}