.megawrapper {    
    min-height: 100%;
}

.wrapper {
    /* display: flex; */
    max-width: 100%;
    margin: 20px 40px 20px 0;    
    /* align-items: center;
    justify-content: center; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(79, 95, 118, 0.4);
    font-size: 18px;
    padding: 10px;
    position: sticky;
    top: 20px;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.wrapper:hover {
    box-shadow: 0 0 10px rgba(79, 95, 118, 0.8);
}

.title {
    margin-top: 10px;
    font-size: 24px;
}

.price {
    margin: 20px 0;
}

.button {    
    font-size: 18px;
    font-weight: bold;    
    color: rgba(234, 97, 25, 1.0);
    padding: 5px 10px;
    margin-bottom: 20px;
    background-color: transparent;  
    border: 1px solid rgba(234, 97, 25, 1.0);  
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}

.button:hover {
    color: white;
    background-color: rgba(234, 97, 25, 1.0);   
    box-shadow: 0 0 10px rgba(44, 62, 84, 0.4);
}